
.principal{
    display:flex;
    flex-direction: row;
    width:75%;
    margin:auto;
    justify-content: space-around;
    overflow-y: auto;
}
.receita{
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #F9FAD2;
    /* max-width: 30%; */
    /* height: 30rem; */
    /* width: 17.5rem; */
    /* margin:.5em; */
    /* border-radius: .25em; */
    /* padding:1em; */
    /* font-size: 0.75em; */
}
.receita__nome{
    /* font-size: 1.5em; */
    /* font-weight: 600; */
    /* text-align: center; */
    /* padding: 0; */
    /* margin: 0; */
}
.receita__imagem{
    /* height: 40%; */
    /* overflow: hidden; */
    /* object-fit: cover; */
    /* margin:1em; */
    /* border-radius: .5em; */
}
.receita__ingredientes{
    /* padding-left: 10%; */
    /* min-height: 20%; */
}
.receita__instrucao{
    /* padding-top: 1em; */
}